<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    {% include 'parrasincapp/navbar.html' %}
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        console.log("Working")
        var searchInput = $("#nav-bar-form input[type=search]")
        var searchQuery;


        searchInput.keyup(function(event){
          searchQuery = $(this).val()
           console.log(searchQuery)
        })


        function doneSearchingTyping(){
          if (searchQuery){
            var url = "/parrasincapp/list?q=" + searchQuery
            document.location.href = url
          }
        }

      });
    </script>
  </body>
</html>
