{% extends 'parrasincapp/base.html'%}

{% block title %}Directory{% endblock %}

{% block content %}
  <br> <br>
  <h1>Directory</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Software</th>
        <th scope="col">Functions</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
        {% for software in object_list %}
          <tr>
            <th scope="row">{{ software.id }}</th>
            <td>{{ software.name }}</td>
            <td>
                {% for function in software.software_function.all %}
                  <p>{{ function.name }}: {{ function.description }}</p>
                  <hr>
                {% empty %}
                    <p>No functions yet</p>
                {% endfor %}
            </td>
            <td>{{ software.departament.name }}</td>
          </tr>
        {% empty %}
            <li>No softwares yet.</li>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
