{% extends 'parrasincapp/base.html'%}

{% block title %}Software{% endblock %}

{% block content %}
  <br>
  <h3>Create software function</h3>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br> <br>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
{% endblock %}
