{% extends 'examiiprojectauth/base.html'%}

{% block title %}Login{% endblock %}

{% block content %}
  <br> <br>
  <div class="alert alert-primary" role="alert">
    {{ message }}
  </div>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <br> <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <hr>
  <p>Signup <a href="{% url 'user_signup' %}">here</a>!</p>
{% endblock %}
