{% extends 'examiiprojectauth/base.html'%}

{% block title %}Signup{% endblock %}

{% block content %}
  <br> <br>
  {% if request.user.is_authenticated %}
  <div class="alert alert-warning" role="alert">
    <p>You need to <a href="{% url 'user_logout' %}">logout</a> or go to <a href="{% url 'auth_index' %}">home</p>
  </div>
  {% else %}
    {% if message != '' %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p}}
      <br> <br>
      <button type="submit" class="btn btn-primary">Signup</button>
      <button type="reset" class="btn btn-warning">Cancel</button>
    </form>
    <hr>
    <p>Login <a href="{% url 'user_login' %}">here</a>!</p>
  {% endif %}
{% endblock %}
